# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=VAJIRA;;;SherriBonds
MONGO_URI=
OWNER_NUMER=557599707532
THUMB_IMAGE = "https://telegra.ph/file/fb7993e24f7ecdaecbed5.jpg"
port = 5000
email = "sam@secktor.live"
AUTO_BIO=true
global_url = "instagram.com"
OWNER_NAME = "Vajira"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = true
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= VAJIRA
WORKTYPE = public
PACK_INFO = "kaysen;md"
ANTILINK_VALUES = "chat.whatsapp.com"
